{% extends "base.html"  %}
{% load static %}



{% block title %}
  {{user.username|title}}
{% endblock title %}



{% block css_files %}
  <link rel="stylesheet" href="{% static 'bolg/all-posts.css' %}">
{% endblock css_files %}



{% block content %}
  <section id="summary">
    
    {% if request.user.id == user.id %}
        <a href="{% url 'blog:create_post' %}" class="btn btn-primary">Create</a>
        
    {% endif %}
    <h2>{{author.fullname|title}}</h2>
    <article>

        <address> {{author.username}}</address>
        <div>
            <section id="Latest-posts">
                <h1>{{author.fullname}} Latest Posts</h1>
                <ul>
                    {% for post in posts %}
                        {% include "blog/includes/post.html" %}
                    {% endfor %}
                </ul>
            </section>    
        </div>
    </article>
  </section>

{% endblock content %}
