{% extends "base.html" %}
{% load static %}

{% block css_file  %}
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_file  %}


{% block title %}
    Home Pagge
{% endblock title %}

{% block content %}

    <header id="main-navigation">
        <h1><a href="#">Zohreh's Blog</a></h1>
        <nav>
            <a href="#">All Posts</a>
        </nav>
    </header>
    <section id="welcome">
        <p>Hi! This Is My Blog For Practicing Django </p>
    </section>
    <section id="Latest-posts">
        <h1>My Latest Posts</h1>
        <ul>
           {% include "blog/includes/post.html" %}
        </ul>
    </section>    
    <section id="about">
        <h2>What i do</h2>
        <p>I LOve Programing and i realy enjoy sculptucher art! </p>
    </section>
{% endblock content %}