{% extends "base.html" %}
{% load static %}

{% block css_file  %}
  <link rel="stylesheet" href="{% static 'blog/post.css' %}">
  <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_file  %}


{% block title %}
    Home Pagge
{% endblock title %}

{% block content %}

    <header>
        <img src="{% static 'blog/images/teacher.png' %}" alt="Zohreh - ///The Auther Af This Blog">
        <h1><a href="{% url 'home' %}">ZOHREH'S BLOG</a></h1>
    </header>
    <section id="welcome">
        <p>Hi! This Is My Blog For Practicing Django </p>
    </section>
    <section id="Latest-posts">
        <h1>My Latest Posts</h1>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>    
    <section id="about">
        <h2>What i do</h2>
        <p>I LOve Programing and i realy enjoy sculptucher art! </p>
    </section>
{% endblock content %}