{% extends "base.html" %} 
{% load static %} 

{% block title %} 
{{ post.title }}
{% endblock %} 

{% block css_files %} 
<link rel="stylesheet" href="{% static 'blog/post-detail.css' %}" /> 
{% endblock %} 

{% block content %}

{% if comment_form.errors %}
  <div id="alert">
    <h2>Saving the comment failed!</h2>
    <p>Please check the comment form below the post and fix your erros.</p>
    <a href="#comment-form">Fix!</a>
  </div>
{% endif %}

<section id="summary">
  
  <form action="{{post.get_absolute_url}}" method="post">
    {% csrf_token %}
    <input type="hidden" name="post_id" value="{{post.id}}">
    {% if is_favorite %}
    <button type="button">&#9829; </i></button>
    {%else%}
    <button type="button">&#x2661; </i></button>
    {% endif %}
    
    
  </form>

  <h2>{{ post.title }}</h2>
  
  {% if request.user.id == post.user.id %}
  <a href="{% url 'blog:post_delete' post.slug %}" class="btn btn-danger">Delete</a>
  <a href="{% url 'blog:post_update' post.slug %}" class="btn btn-info">Update</a>
{% endif %}
  <div>
  </div>
  <div id="read-later">
   <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" value="{{ post.id }}" name="post_id">
      <button>
        
      </button>
    </form>
  </div>
  <article>
    <img src="{{ post.image.url }}" alt="{{ post.title }}" />
    <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address>
    <div>Last updated on <time>{{ post.date|date:"d M Y" }}</time></div>
  </article>
</section>

<main>
  {{ post.content|linebreaks }}
</main>

<section id="comments">
  
  <ul>
    {% for comment in comments %}
    <p>Comments {{comments.count}} </p>
      <li>
        <h2>{{ comment.user_name }}|{{comment.created|timesince}}</h2>
        <p>{{ comment.body|linebreaks }}</p>
        {% for reply in comment.rcomments.all %}
        <p class="bg-primary p-3 m-2">{{ reply.user }} <br/> {{ reply.body }}</p>
        {% endfor %}
      </li>
      
      {% empty %}
        <p>No Comments yet!</p>
    {% endfor %}
  </ul>
</section>

<section id="comment-form">
  <h2>Your Comment</h2>
  <form action="{{post.get_absolute_url}}" method="POST">
    {% csrf_token %}
    {% for form_field in comment_form %}
      <div class="form-control {% if form_field.errors %}invalid{% endif %}">
        {{ form_field.label_tag }}
        {{ form_field }}
        {{ form_field.errors }}
      </div>
    {% endfor %}
    <button>Save Comment</button>
  </form>
</section>
{% endblock %}